[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dj-database-url = "*"
whitenoise = "*"
django-heroku = "*"
psycopg2 = "*"
psycopg2-binary = "*"
python-decouple = "*"
gunicorn = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
