@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700;800;900&family=Tourney:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

h2{
  padding: 20px;
}
input[type="text"],
select {
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
h3{
  padding: 20px;
}
input[type="text"],
select {
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
h4{
  padding: 20px;
}
input[type="text"],
select {
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
h5{
  padding: 20px;
}
input[type="text"],
select {
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button {
  background-color: #0376d8;
  color: whitesmoke;
  padding: 14px 20px;
  margin: 8px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  padding: 14px 20px;
  margin: 8px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f7f7f7;
}


p.showdata {
  background-color: lightblue;
  color: whitesmoke;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}

.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: pink;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

.page-body {
  width: 1200px;
  margin: 50px auto;
}

.page-body p {
  padding: 5px 0 0 0;
}

.page-body h1 {
  padding: 30px 0 0 0;
}

.page-body h2 {
  padding: 0;
  font-weight: bold;
  font-size: 120%;
  padding: 20px 0 0 0;
}

.cancelbutton {
  background-color: #f7f7f7;
  border: 1px solid #00f;
  color: #00f;
}

.inactive {
  font-size: 80%;
  color: #888;
}

.small-link {
  font-size: 80%;
  color: #6c5ce7;
} 

.vertical-padding {
  padding: 30px 0 30px 0;
}

td.blank {
  font-size: 80%;
  color: #888;
  padding: 30px;
  text-align: center;
}

.float-right {
  float: right;
}

.text-button {
    background: none!important;
    border: none;
    padding: 0!important;
    color: #069;
    font-weight: bold;
    cursor: pointer;
    font-size: 70%;
}


.add-new-class {
  margin-left: 8px !important;
  background: none!important;
  border: none;
  padding: 0!important;
  color: #069;
  font-weight: bold;
  cursor: pointer;
  font-size: 70%;
}

.red-warning {
  color: red;
}

      
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding-top: 10px;
  display: flex;
}
      
.pagination li {
  margin: 0 1px;
}
.pagination li.active a {
  background-color: #069;
  color: white;
}

.pagination a.active {
  background-color: #069;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #0376d8;
  color: white;
}

.progress-line {
  padding: 20px 0 0 0;
}

.progress-line span b {
  padding-right: 15px;
  font-size: 20px;
}

.progress-line span span {
  opacity: 35%;
}

.pad-right {
  margin-right: 10px;
}